<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .nav{
        justify-content: flex-end;
        display: flex;
        position: relative;
        align-items: center;
        
    }
    .nav ul{
        list-style-type: none;
        margin: 15px;
        align-items: center;
    }
    .nav ul li{
        margin: 15px;
        padding:5px;
        display: inline-block;
    }
</style>
<body>
    <div class="nav">
        <h3 style="margin-right: auto; font-weight: bold;">VAC</h3>
        <ul>
            <li style="border-style: solid; border-color: #ffffff;">Contact</li>
            <li>Blogs</li>
            <li>About Us</li>
            <li>Join</li>
        </ul>
    </div>
    
</body>
</html>